<form action="/todos/{{{todo.id}}}" method="POST">
<input type="checkbox" name="done" {{#if todo.done}}checked{{/if}}
  <input type="text" name="name" value="{{{todo.name}}}" placeholder="name">
  <button type="submit">確認</button>
</form>