<!-- ./views/index.handlebars -->
{{> messages}}
<a href="/todos/new" class="btn btn-primary mb-3">Create</a>
	
<ul>
	{{#each todos}}
	<li class="list-group-item">
		<div class="row">
			<div class="col-auto mr-auto">
				<input type="checkbox" name="name" {{#if this.done}}checked{{/if}} disabled>
				<h4 style="display: inline; vertical-align:middle;"></h4>{{this.name}}
			</div>
			<div class="col-auto">
				<a href="/todos/{{{this.id}}}" class="btn btn-secondary">detail</a>
				<a href="/todos/{{{this.id}}}/edit?_method=PUT" class="btn btn-success">edit</a>
				<form action='/todos/{{{this.id}}}/delete?_method=DELETE' method="POST" style="display: inline;">
					<button type="submit" class="btn btn-danger">delete</button>
				</form>
			</div>
			
			
		</div>
		
	</li>
	{{/each}}
</ul>